.topicos{
    background: var(--azul_degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo{
    text-transform: uppercase;
    font-weight: 300;
    color: var(--branco);
    margin-bottom: 1em;
}

.topicos__lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5em;
}

.topicos__item{
    margin: 2em 0.5em;
}

.topicos__item_link{
    background-color: var(--laranja);
    padding: 1em;
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px){

    .topicos__titulo, .topicos__item_link{
        font-size: 24px;
    }

    .topicos__lista{
        width: 80%;
        margin: auto;
    }

    .topicos__item_link:hover{
        background-color: var(--branco);
        color: var(--laranja);
    }

}

@media screen and (min-width: 1728px){

    .topicos{
        padding: 3em 20vw;
    }

}